 html,body{
    height: 100%;
    margin: 0;
    font-size: 14px;
    font-family: "lato" , sans-serif;
    line-height: 1.8em;
    color: #666;
 }
 .pimg1{
    background-image: url(image1forp5.avif);
    min-height: 100%;


    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
 }

 .ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
 }

 .textbg{
    background-color: rgb(36, 36, 36);
    color:white;
    padding: 20px;
 }

 .section{
    padding: 50px 80px;
    text-align: center;
 }

 .section-light{
    background-color: rgb(247, 231, 231);
    color: #666;
 }

 .pimg2{
    background-image: url(image2forp5.avif);
    min-height: 400px;


    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
 }

 .ptext2{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
 }

 .textbg2{
    background-color: rgb(36, 36, 36);
    color:white;
    padding: 20px;
 }

 .section-dark{
    background-color: rgb(26, 25, 25);
    color: #f0efef;
 }

 .pimg3{
   background-image: url(image3forp5.avif);
   min-height: 400px;


   position: relative;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
}

.ptext3{
   position: absolute;
   top: 50%;
   width: 100%;
   text-align: center;
   color: black;
   font-size: 27px;
   letter-spacing: 8px;
   text-transform: uppercase;
}

.textbg3{
   background-color: rgb(36, 36, 36);
   color:white;
   padding: 20px;
}

.section-dark{
   background-color: rgb(26, 25, 25);
   color: #f0efef;
}

.pimg4{
   background-image: url(image4forp5.avif);
   min-height: 100%;


   position: relative;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}

.ptext4{
   position: absolute;
   top: 50%;
   width: 100%;
   text-align: center;
   color: black;
   font-size: 27px;
   letter-spacing: 8px;
   text-transform: uppercase;
}

.textbg4{
   background-color: rgb(36, 36, 36);
   color:white;
   padding: 20px;}